<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Assembly Personnel Dashboard</h1>
        <p>John Doe</p>
        <p>JohnDoe@xyz.com</p>
      </header>
      <br>
      <p>Click on the "Choose File" button to upload a file:</p>

<form action="/action_page.php">
  <input type="file" id="myFile" name="filename">
  <input type="submit">
</form>
<br>

      <button type="button" onclick="alert('Start date populated in database')">Start</button>
      <button type="button" onclick="alert('End date populated in database')">End</button>

<br><br>

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-gd2f{background-color:#FFF;border-color:inherit;text-align:left;vertical-align:bottom}
.tg .tg-d02k{background-color:#FFF;border-color:inherit;color:#333;text-align:left;vertical-align:bottom}
.tg .tg-bn54{background-color:#FFF;border-color:inherit;font-weight:bold;text-align:left;vertical-align:bottom}
.tg .tg-0thz{border-color:inherit;font-weight:bold;text-align:left;vertical-align:bottom}
.tg .tg-za14{border-color:inherit;text-align:left;vertical-align:bottom}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-bn54">process</th>
    <th class="tg-bn54">Process ID</th>
    <th class="tg-bn54">Machine ID</th>
    <th class="tg-bn54">Start Date </th>
    <th class="tg-0thz">END DATE</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-za14">Component Integration</td>
    <td class="tg-za14">SAWM3036_FA_WM128</td>
    <td class="tg-za14">MAII1017ECME3020079</td>
    <td class="tg-za14">10-19-2020</td>
    <td class="tg-za14">12-11-2020</td>
  </tr>
  <tr>
    <td class="tg-za14">Electrical Testing</td>
    <td class="tg-za14">SAWM3042_FA_WM134</td>
    <td class="tg-za14">MAII1017ECME3020080</td>
    <td class="tg-za14">11-26-2020</td>
    <td class="tg-za14">12-5-2020</td>
  </tr>
  <tr>
    <td class="tg-za14">Complaince</td>
    <td class="tg-za14">SAWM3042_FA_WM135</td>
    <td class="tg-za14">MAII1017ECME3020081</td>
    <td class="tg-za14">9-10-2020</td>
    <td class="tg-gd2f">2-2-2021</td>
  </tr>
  <tr>
    <td class="tg-za14">Certification Standards</td>
    <td class="tg-za14">SAWM3042_FA_WM136</td>
    <td class="tg-za14">MAII1017ECME3020082</td>
    <td class="tg-za14">8-3-2020</td>
    <td class="tg-za14">1-6-2021</td>
  </tr>
  <tr>
    <td class="tg-d02k">pivot dome</td>
    <td class="tg-d02k">SAWM3042_FA_WM137</td>
    <td class="tg-za14">MAII1017ECME3020083</td>
    <td class="tg-za14">10-18-2020</td>
    <td class="tg-gd2f">1-5-2021</td>
  </tr>
  <tr>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
  </tr>
  <tr>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
  </tr>
  <tr>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
  </tr>
  <tr>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
  </tr>
</tbody>
</table> 

</body>
</html>
