<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Sub Assembly Personnel Dashboard</h1>
        <p>John Doe</p>
        <p>JohnDoe@xyz.com</p>
      </header>
      <br>
      <p>Click on the "Choose File" button to upload a file:</p>


<br><br>

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-gd2f{background-color:#FFF;border-color:inherit;text-align:left;vertical-align:bottom}
.tg .tg-d02k{background-color:#FFF;border-color:inherit;color:#333;text-align:left;vertical-align:bottom}
.tg .tg-bn54{background-color:#FFF;border-color:inherit;font-weight:bold;text-align:left;vertical-align:bottom}
.tg .tg-6jx3{background-color:#FFF;border-color:inherit;font-style:italic;font-weight:bold;text-align:left;vertical-align:bottom}
.tg .tg-0thz{border-color:inherit;font-weight:bold;text-align:left;vertical-align:bottom}
.tg .tg-za14{border-color:inherit;text-align:left;vertical-align:bottom}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-bn54">Assembly&nbsp;&nbsp;&nbsp;ID</th>
    <th class="tg-bn54">process</th>
    <th class="tg-bn54">Item ID</th>
    <th class="tg-6jx3">Machine ID</th>
    <th class="tg-0thz">start date</th>
    <th class="tg-0thz">end date</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-za14">SAWM3031</td>
    <td class="tg-za14">Transmission Assembly</td>
    <td class="tg-za14">T101</td>
    <td class="tg-za14">FA_WM124</td>
    <td class="tg-za14">6-6-2020</td>
    <td class="tg-za14">8-15-2020</td>
  </tr>
  <tr>
    <td class="tg-za14">SAWM3032</td>
    <td class="tg-za14">Electrical Assembly</td>
    <td class="tg-za14">T102</td>
    <td class="tg-za14">FA_WM124</td>
    <td class="tg-za14">6-2-2020</td>
    <td class="tg-za14">8-7-2020</td>
  </tr>
  <tr>
    <td class="tg-za14">SAWM3033</td>
    <td class="tg-za14">Transmission Assembly</td>
    <td class="tg-za14">WM125</td>
    <td class="tg-za14">FA_WM125</td>
    <td class="tg-gd2f">5-7-2020</td>
    <td class="tg-za14">7-10-2020</td>
  </tr>
  <tr>
    <td class="tg-za14">SAWM3034</td>
    <td class="tg-za14">Electrical Assembly</td>
    <td class="tg-za14">WM126</td>
    <td class="tg-za14">FA_WM126</td>
    <td class="tg-za14">5-30-2020</td>
    <td class="tg-za14">7-4-2020</td>
  </tr>
  <tr>
    <td class="tg-za14">SAWM3035</td>
    <td class="tg-d02k">Tub assemblies</td>
    <td class="tg-za14">WM127</td>
    <td class="tg-za14">FA_WM127</td>
    <td class="tg-gd2f">21/03/2020</td>
    <td class="tg-za14">8-16-2020</td>
  </tr>
  <tr>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
  </tr>
  <tr>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
  </tr>
  <tr>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
  </tr>
  <tr>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
  </tr>
</tbody>
</table>
 
</body>
</html>