<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Choose your role</h1>
    <form action="/role" method="POST">
        <p>Please select your role</p>
        <input list="roles" name="role">
        <datalist id="roles">
            <option value="Admin Personnel">
            <option value="Fabrication Personnel">
                <option value="Assembly Personnel">
                    <option value="Sub-Assembly Personnel">
        </datalist>
        <br>
        <button type="submit">Login</button>
    </form>
</body>
</html>